{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>管理人</title>
  </head>
  <body>
    <div>
      <h1>管理人</h1>
      <h3>堀田祥寿</h3>
      <p>はじめまして！</p>
      <p>よろしくお願いします</p>
    </div>
    <br>
    <div>
      <h3><a href='/'>トップページ</a>
    </div>
  </body>
</html>
